<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Investing 101</title>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
    }
    .cart {
        width: 80%;
        margin:  0 auto;
        padding: 20px;
        background-color: #f0f0f0;
    }
 
    .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     }

    .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #f0f0f0;
   }
    h1 {
        text-align: center;
    }
    p {
        line-height: 1.6;
    }
</style>
</head>
<body>

<div class="container">
    <h1>Investing 101: Navigating the Basics of Financial Investments</h1>
    <p>We believe that investing is for everyone—which is why we’ve created a hub with info for beginners and experts alike. Start exploring to get investment education, advice, resources, and more!</p>

<h2>What is Investing?</h2>
    <p>Investing allows people to grow their money. The objective is to purchase assets or investments that the investor can sell at a higher price in the future to yield a profit. Some examples of investments are stocks, bonds, mutual funds, and annuities. Investors can purchase these vehicles through investment accounts such as IRAs, 401(k)s, or brokerage accounts.<br>

Whether an investor wants to be more hands-on or take a passive approach, there are numerous ways to start investing. Since investors want to grow their money as much as possible, it’s wise to get started as soon as possible.<br>

For investors who want to learn everything there is to learn about the market and want complete control over their investments, active investing might be worth considering. Investors can open brokerage accounts and then select the stocks, bonds, and ETFs they want to place in the account.<br>

Investors who want something a little more basic and want to take hands-off may want to start with an automated investing account. Automated investing accounts still allow investors to learn along the way. This passive investing strategy allows investors to build a diversified portfolio based on their goals and objectives.<br>

Whether an investor selects an active or passive strategy, it’s important to remember that every investment strategy comes with some risk. With this in mind, investors must make careful, make informed selections, and diversify their portfolios to hedge the odds in their favor.</p>

<h2>Investing Basics For Beginners</h2>
<p>New to investing? Let’s start with the basics.</p>
<h3>Types of Investments</h3>
<h3>Stocks</h3>
<p>Stocks represent ownership in a corporation. Each share of stock represents a small but equal share in the company. The stocks you can buy are in public companies that have registered their stock with the SEC. Privately held corporations also have stock, but it may not be sold to the public.</p>

<h3>Bonds</h3>
<p>Bonds are loans that can be bought or sold. Each bond represents a promise by the issuer to pay a certain amount of interest and repay the full amount of the debt owed on a specific date in the future. The issuer (borrower) might be the US government, a state or local government, or a corporation. Interest from municipal bonds—those issued by state and local governments—may be exempt from federal income tax and usually tax of the issuing state. US Treasury bonds, bills, and notes are generally exempt from state income taxes. Interest from corporate bonds is fully taxable.</p>

<h3>Certificates of Deposits (CDs)</h3>
<p>Certificates of deposits or CDs are accounts where account holders must keep their money in the account for some time, usually a few months or years. Typically, the longer the account holder holds the account’s money, the higher the interest rate will be. However, if the saver must take money out before the CD’s maturity, they may have to pay a penalty.
<br>
Like savings accounts, CDs are FDIC-insured up to $250,000. Therefore, if the financial institution holding the funds fails, the government will cover the principal amount up to the limit.<br>

CDs were popular investments for those looking for a safe place to grow and store their money in the past. While interest rates used to be in the double digits, they average about 1% for even a five-year CD.</p>

<h3>Mutual Funds</h3>
<p>Mutual funds are collections of investments that trade as a single security. Think of them as a suitcase full of securities: stocks, bonds, gold, or almost any other legal investment. They can be actively managed or passively invested. The main benefit of a mutual fund is diversification. You can buy shares of one fund and own a tiny amount of many individual stocks or bonds.</p>

<h3>Exchange-Traded Funds (ETF)</h3>
<p>Exchange-traded funds (ETFs) are groups of securities such as bonds. ETFs, that give investors low-cost access to a wide range of different markets. Essentially, ETFs allow investors to construct DIY portfolios that are affordable and effective to match their goals and objectives.<br>

Similar to trading stocks, ETFs trade on an open market like the New York Stock Exchange. Therefore, investors have the opportunity to buy and sell ETFs throughout the day.<br>

Some of the most common types of EFTs include market ETFs, representing a market sample, and sector ETFs representing a sector or industry of a stock market.</p>

<h3>Real Estate Securities</h3>
<p>Real estate investment trusts (REITs) allow investors to invest in commercial real estate without the task of full property ownership. REITs are companies that own income-producing properties or other real estate assets.<br>

Investors often invest in REITs to diversify their portfolios or yield high dividend returns that some REITs provide. But, like any investment, there are risks involved with investing in non-traded REITs. Some risks include liquidity risk, high fees, and commissions that may lower investment value.</p>
<hr>
<h1>Goal Setting When Investing Money</h1>
<p>Before you start investing, it is important to identify and understand your financial goals. For example, one common goal many people have is retirement planning. For any goal, selecting an investment strategy depends on your goal amount, the time horizon, and your risk tolerance.<br>

Goals can be broken down into short-term, medium-term, and long-term goals. Determining the time horizon of your goals can help you decide which type of portfolio to build. This idea is known as goals-based investing.<br>

For example, if you’re young (18-32 years old) and one of your goals is retirement, you may consider an aggressive portfolio—since your retirement date is 20+ years out, your portfolio can weather the market ups and downs. As you get closer to retirement age, it may make sense to move to a more conservative portfolio—the closer your goal is, the less risk you’ll likely want to take.</p>
<hr>
</div>
 

<div class="card-container">
<div class="card">
     
    <div class="card-body">
        <center><h3>Short-Term Investment Goals (Less than 3 years)</h3></center>
<ul>
<li>Emergency fund</li>
<li>Travel</li>
<li>Buying a car</li></ul>
    </div>
</div>



<div class="card">
     
    <div class="card-body">
        <center><h3>Medium-Term Investment Goals (5-10 years)</h3></center>
<ul>
<li>Buying a home</li>
<li>Starting a family</li>
<li>Home addition/renovation</li></ul>
    </div>
</div>

<div class="card">
     
    <div class="card-body">
        <center><h3>Medium- to Long-Term Investment Goals (10-20 years)</h3></center>
<ul>
<li> Child’s college savings</li>
<li>Buying a second home</li>
</ul>
    </div>
</div>

<div class="card">
     
    <div class="card-body">
        <center><h3>Long-Term Investment (20+ years)</h3></center>
<ul>
<li> Retirement</li>
<li> Financial independence</li>
</ul>
    </div>
</div>

</div>

</body>
</html>
