{% include "header.html" %}

<!-- Container hold some text -->
<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col text-center">
      <p class="fs-1 text-center">
        Get Personalized Investment Portfolio Recommendations
      </p>
      <p class="fs-5 text-center">
        Let us help you build a diversified investment portfolio tailored to
        your needs and risk tolerance.
      </p>
      <div class="pt-sm-5 pb-sm-5">
        <a href="/login" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
</div>
<!-- Container hold some text End -->

{% include "aboutus.html"%} {% include "contactus.html"%}

<!-- This is footer-->
{% include "footer.html" %}
